*{
    box-sizing: content-box;
}

body{
   background-color: beige;
}

.btn_add{
    width: 80px;
    height: 30px;
    background-color: blue;
    display: inline-block;
    margin: 150px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: 300;
}

.btn_add:hover{
    background-color: rgb(126, 140, 192) ;
}

a{
    text-decoration: none;
    color: black;
}
.table{
    margin-top: -240px;
    width: 90rem;
    border: 1px solid black;
    text-align:center;
    position: absolute;
    top: 28rem;
    left: 10rem;
    border-collapse: collapse;
}
th{
    background-color: aquamarine;
}
td{
    border-bottom: 1px solid black;
}

tr{
    border: 2px solid black;
}

.btn_update{
    background-color: blue;
    transition: .3s;
    opacity: .8;
}
.btn_update:hover{
    opacity:1.5;
}

.btn_del{
    background-color: red;
    opacity: .8;
    transition:.3s;
}

.btn_del:hover{
    opacity:1.5;
}