*{
    box-sizing: 0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
/* sign in */
.container{
    position: absolute;
    top: 150px;
    border: 2px black solid;
    width: 30rem;
    height: 30rem;
}
.form{
    padding: 30px;
}

.input{
    display: inline-block;
    position: absolute;
    left: 230px;
    width: 210px;
    height: 20px;
    text-align: center;
}
select{
    display: inline-block;
    position: absolute;
    left: 230px;
    width: 218px;
    height: 25px;
    text-align: center;
}

.btn_insert{
    background-color: blanchedalmond;
    width: 5rem;
    height: auto;
    position: absolute;
    padding: 5px;
    left: 30px;
}

.btn_submit:hover{
    background-color:darkcyan;
}

/* php echoes */
.datainsert{
    position: absolute;
    display: block;
    width: 200px;
    height: auto;
    background-color: rgb(194, 186, 201);
    z-index: 500;
    top: 10px;
    font-size: 40px;
    text-align: center;
    overflow: hidden;
    animation-delay: 5ms;
}

.datainsert:after{
    visibility: hidden;

}


/* MODAL DESIGN POP UP */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }