* {
  box-sizing: content-box;
  background-color: whitesmoke;
}

.logoContainer {
display: flex;
flex-flow: wrap row;
justify-content: center;
}

.logoContainer img{
  width: 20%;
  border: 1px solid white;
  border-radius: 10px;
}

main {
  box-sizing: content-box;
}

.flex {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* .roomContainer {
  height: 300px;
  overflow: hidden;
  border: 5rem;
  margin: 5rem;
} */

.gallery {
  border: 2px solid black;
  background-color: gray;
  width: 100%;
  height: auto;
  justify-items: center;
  /* overflow: hidden; */
  box-sizing: content-box;
}

.gallery img {
  display: inline;
  width: 20rem;
  margin-left: 5rem;
  justify-items: initial;
  border: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2px;
}

footer {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gallery:hover {
  z-index: 1;
}

.zoom1 {
  transform-origin: -50rem 0rem;
  transition: transform 0.5s ease;
}

.zoom1:hover {
  transform: scale(1.5);
  transition-delay: 800ms;
}
.zoom2 {
  transform-origin: 0rem 0rem;
  transition: transform 0.5s ease;
}
.zoom2:hover {
  transform: scale(1.5);
  transition-delay: 800ms;
}
.zoom3 {
  transform-origin: 50rem 0rem;
  transition: transform 0.5s ease;
}
.zoom3:hover {
  transform: scale(1.5);
  transition-delay: 800ms;
}