* {
  box-sizing: border-box;
}
p {
  font-weight: bold;
}

html body {
  margin: 0;
  padding: 0;
  height: auto;
}

/* FLEX */
.flex {
  display: flex;
  flex-flow: wrap row;
  text-align: center;
  justify-content: center;
}
/* ---------LOGO---------- */
.headerContainer {
  margin: 0;
  margin-bottom: 1rem;
  height: 10rem;
    display: flex;
  flex-flow: wrap row;
  justify-content: center;
}
/* 
.logoContainer {
  width: 20%;
  height: 11rem;
} */

.logoContainer img {
  /* padding-left: 2rem; */
  padding-top: 1rem;
  width: 10rem;
  margin-right: 0%;
  position: absolute;
  left: 10px;
}

/* NAVIGATION LINKS */

nav{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.nav li {
  display: block;
  float: left;
  padding: 3rem 1rem;
  position: relative;
  /* left: 5rem; */
}
.nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.nav a:hover {
  text-decoration: none;
  padding: 1em;
  color: black;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  text-align: center;
}

/*********************LOGIN BTN PART*************/
.fixedColor {
  background-color: #00a6ff;
}
.hoverColor {
  background-color: #00ce9a;
}

.btn-container {
  text-align: center;
}
.login-btn-container .but1 {
  width: 6rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 6rem;
  margin-top: 1rem;
  position: absolute;
  right: 10rem;
  color: white;
  background-color: #00a6ff;
  font-size: large;
}

.login-btn-container .but2 {
  position: absolute;
  right: 3rem;
  width: 6rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 6rem;
  margin-top: 1rem;
  color: white;
  background-color: #00a6ff;
  font-size: large;
}

.login-btn:hover {
  position: relative;
  border-radius: 5px;
  float: right;
  right: 5.5rem;
  top: 1rem;
  width: 5rem;
  height: 2rem;
  background-color: #00ce9a;
  font-weight: bold;
  color: white;
}

.but1:hover {
  position: absolute;
  /* border-radius: 5px; */
  /* right: 5.5rem; */
  /* top: 1rem; */
  /* width: 5rem; */
  height: 2rem;
  background-color: #00ce9a;
  font-weight: bold;
  color: white;
}

.but2:hover {
  position: absolute;
  /* border-radius: 5px; */
  /* right: 5.5rem; */
  /* top: 1rem; */
  /* width: 5rem; */
  height: 2rem;
  background-color: #00ce9a;
  font-weight: bold;
  color: white;
}

.loginForm {
  font-family: 'Hind Siliguri', sans-serif;
  position: absolute;
  display: block;
  top: 3.5rem;
  float: right;
  right: 2.3rem;
  padding: 10px;
  width: 14rem;
  border: solid 2px black;
  border-radius: 15px;
  text-align: center;
  animation-name: example;
  animation-duration: 1s;
  z-index: 3;
}

.bg-white {
  background-color: white;
}

.border-radius {
  border-radius: 10px;
}

input,
label {
  margin-top: 0.3rem;
  animation-name: example;
  animation: 0s;
}
.form-btn {
  margin-top: 0.5rem;
  background-color: #00a6ff;
  border: 1px solid white;
  font-weight: bolder;
  color: white;
  height: 2rem;
}
.form-btn:hover {
  margin-top: 0.5rem;
  background-color: #00ce9a;
  color: white;
  font-weight: bolder;
}
.hidden {
  display: none !important;
}

@keyframes example {
  0% {
    width: 0rem;
  }
  25% {
    width: 11rem;
  }
}

/* <!--------------------------HERO PART JANNA----------------------------------> */
.textover {
  position: relative;
  max-width: 100%;
}
.textover img {
  width: 100%;
}
.textover h1 {
  z-index: 2;
  position: absolute;
  font-size: 25px;
  bottom: 24%;
  box-sizing: border-box;
  width: 100%;
  padding: 4rem;
  text-align: center;
  color: black;
  background: rgba(230, 223, 223, 0.61);
  
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  box-sizing: content-box;
}
.mySlides img {
  width: 100%;
  height: 35rem;
}
.hero {
  display: inline-block;
  justify-items: center;
  width: 100%;
  justify-content: center;
}
.slideshow-container {
  max-width: 100%;
  height: 5rem;
  position: inherit;
  margin: auto;
  box-sizing: content-box;
  display: inline-block;
  margin-bottom: 1rem;
  z-index: 0;
  margin-bottom: 1rem;
  justify-content: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* main css jlad */
h2 {
  height: 5rem;
  text-align: center;
}

.available {
  background-color: #00ce9a;
}
.occupied {
  background-color: #ff5159;
}

.roomAvailContainer {
  width: 100%;
  display: block;
  height: 25rem;
}
.roomContainer {
  width: 20%;
  height: 11rem;
  float: left;
  justify-items: center;
  text-align: center;
  position: relative;
  left: 20rem;
  top: 15px;
  margin-left: 38px;
}

.legends {
  width: 9%;
  display: inline;
  height: 11rem;
  float: left;
  position: relative;
  left: 30rem;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  /* border: 1px solid black; */
  clear: both;
  margin-top: 2px;
  position: relative;
  bottom: 2rem;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

.roomButton {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 16px;
  display: flow;
  width: 6rem;
  height: auto;
}

.roomButton:hover {
  color: white;
  background-color: #00a6ff;
}
/* -----------Registeration Form----- */

h1 {
  text-align: left;
  padding: 5px;
  font-family: georgia;
  font-size: 35px;
}
h2 {
  text-align: center;
  padding: 5px;
  font-size: 40px;
}


main {
  width: 10rem;
  background-color: #00a6ff;
}
form {
  background-color: white;
}
.info input {
  margin-left: 40px;


}
.info1 input {
  margin-left: 35px;
}
.info {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: fantasy;
}
.info1 {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: fantasy;
}
.btn {
  margin: 4px 2px;
  border: none;
  color: white;
  background-color: #00a6ff;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

/* House Rules*/


 .hrules {
  border: 5px solid rgba(112, 107, 114, 0.651);
  padding: 5px;
  border-radius: 12px;
  background-color: hsl(180, 88%, 60%);
  justify-content: center;
  width: 60rem;
  
 }

 .hrulesContainer{
  display: flex;
  justify-content: center;
 }

 .contactContainer{
  display: grid;
  place-items: center;  
 }

 .contactUs {
   width: 20rem;
   text-align: center;
   margin: 20px;
   border-radius: 15px 15px 10px 10px;
   border: 2px solid black;
   background-color: white;
   padding-bottom: 5px;
   display: flex;
   flex-flow: wrap column;
   align-content: center;
   background-color:hsla(0, 0%, 82%, 0.746);
   
 }
 .contactContainer .btn{
  background-color: rgb(20,22,23);
 }

 .btn:hover{
  background-color: rgb(36,128,173);
 }