* {
  box-sizing: border-box;
}
.App {
  max-width: 420px;
  margin: 0 auto;
}
p {
  text-align: center;
  font-weight: 500;
}
input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.button {
  width: 10rem;
  padding-left: 10rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

/* ********************************MENU *************************/
.btnContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  padding-top: 5rem;
}

.btnContainer a button,
.App button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10rem;
  margin: 10px;
  font-weight: bolder;
}
.back {
  position: absolute;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10rem;
  margin: 10px;
  font-weight: bolder;
  width: 5rem;
  top: 10px;
  left: 10px;
}

.back:hover {
  background-color: #45a049;
}

.btnContainer a button:hover,
.App button:hover,
#delete:hover {
  background-color: #45a049;
}

.App .options input {
  color: white;
  font-weight: bolder;
  margin: 2px;
}
.App .options {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}
/********************************************** SEARCH ***************************/
.search {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.header {
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
}

/****************************** Button for delete and Edit ****************/
