* {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  position: absolute;
}
#imagehere {
  margin: 100px;
  width: 10%;
  position: absolute;
  height: 15%;
}
form {
  vertical-align: text-top;
  border: 1px solid black;
  border-radius: 10px;
  width: 30rem;
  display: flex;
  float: inline-start;
  flex-flow: wrap column;
  align-items: center;
}
input[type='text'],
input[type='password'],
textarea {
  width: 10rem;
  display: inline-block;
  border: none;
  background-color: rgb(197, 197, 197);
  margin: 0.5rem;
  text-align: center;
}
input[type='text']:focus,
input[type='password']:focus {
  background-color: orange;
  outline: none;
}
h3 {
  margin: 0;
}

button {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* IMAGE ID ADJUSTER */
.renterID img {
  position: absolute;
  width: 15rem;
  float: right;
  right: 10rem;
}

#reset {
  margin-bottom: 10px;
}

/* NAV BUTTONS */

.btn-group button {
 
  background-color: #04AA6D; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  width: 20%; 
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}


.btn-group button:hover {
  background-color: blue;
}

/* Archive*/


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}



