*{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2d6d65;
	color: rgb(0, 0, 0);
	}
	h1{
		text-align: center;
	}
	#imagehere{
	margin-left: 44%;
	margin-top: 2%;
  	width: 10%;
  	display: left;
  	height: 10%;
	float: left;
	}
	form{
	text-align:center;
	float: center;
	width: 80%;
	height: 100%;
	border-left: 3px solid #000;
 	border-right: 3px solid #000;
 	border-bottom: 3px solid #000;
 	border-top: 3px solid #000;
 	padding: 10px 0;
  	margin: 10px auto;
  	} 
	label{
		display: block;
		text-align: center;
		line-height: 150%;
		font-size: .90em;
	}
	input[type=text], input[type=password], textarea 
	{
 	width: 20%;
 	padding: 5px;
  	margin: 5px 0 22px 0;
  	display: center;
  	border: none;
	background: #f1f1f1;
	}
	input[type=text]:focus, input[type=password]:focus {
  	outline: none;
	}